@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

/* body {
  background: linear-gradient(to bottom right, #f0e6ff, #ffe6e6);
  min-height: 100vh;
  background-attachment: fixed;
} */